/*Styling of the About webpage*/

.aboutGrid {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto 1fr auto 1fr auto auto;
    gap: 5px;
    margin: 20px;
    overflow-wrap: break-word;
    grid-template-areas:
        "header"
        "aboutTitle"
        "hr1"
        "aboutBanner"
        "hr2"
        "aboutTexto1"
        "hr3"
        "aboutTexto2"
        "hr4"
        "aboutFoto2"
        "hr5"
        "footer";
}
.header { grid-area: header; }
.hr1 { grid-area: hr1; }
.aboutTitle { grid-area: aboutTitle;
    font-family: Trebuchet MS, sans-serif;
    font-size: clamp(2rem, 2vw, 6rem);
    color: $naranja;
    text-align: center;
    height: auto;
    margin: 10px;
}
.hr2 { grid-area: hr2; }
.aboutBanner { grid-area: aboutBanner;
    text-align: center;
    margin: auto;
    width: 90%;
    img {
        transition: 2s ease;
        &:hover {
            transform: scale(1.15);
        }
    }
}
.hr3 { grid-area: hr3; }
.aboutTexto1 { grid-area: aboutTexto1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.hr4 { grid-area: hr4; }
.aboutTexto2 { grid-area: aboutTexto2;
    @extend .aboutTexto1
}
.hr5 { grid-area: hr5; }
.aboutFoto2 { grid-area: aboutFoto2;
    @extend .aboutBanner
}
.footer { grid-area: footer; }


@media (max-width: 1024px) {
    .aboutBanner, .aboutFoto2 {
        display: flex;
        width: auto;
        height: auto;
        max-width: 90vw;
        align-self: center;
    }
    .aboutTexto1, .aboutTexto2 {
        align-items: center;
        width: 100%;
        max-height: none;
        padding: 20px;
        flex-grow: 1;
    }
}

@media (max-width: 480px) {
    body {
        box-sizing: border-box;
    }
    .aboutBanner, .aboutFoto2 {
        img {
            &:hover {
                transform: none;
            }
        }
    }
}