/*Styling of the About webpage*/

.aboutGrid {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto 1fr auto 1fr auto auto;
    gap: 5px;
    margin: 20px;
    overflow-wrap: break-word;
    grid-template-areas:
        "header"
        "aboutTitle"
        "hr1"
        "aboutBanner"
        "hr2"
        "aboutTexto"
        "hr3"
        "aboutFoto2"
        "hr4"
        "footer";
}
.header { grid-area: header; }
.aboutTitle { grid-area: aboutTitle;
    font-family: Trebuchet MS, sans-serif;
    font-size: clamp(2.5rem, 2vw, 5rem);
    color: $naranja;
    text-align: center;
    height: auto;
    font-weight: bold;
    margin: 10px;
    &:hover {
        transition: color 2s ease;
        color: $naranja2;
    }
}
.hr1 { grid-area: hr1; }
.aboutBanner { grid-area: aboutBanner;
    text-align: center;
    margin: auto;
    width: 90%;
    img {
        transition: 2s ease;
        &:hover {
            transform: scale(1.15);
        }
    }
}
.hr2 { grid-area: hr2; }
.aboutTexto { grid-area: aboutTexto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        @extend p ;
    }
    hr {
        margin: 15px auto;
        width: 80%;
        height: 2px;
        border: none;
    }
    h2 {
        @extend p ;
        span {
            font-size: calc(1.10em + 1vmin);
        }
    }
}
.hr3 { grid-area: hr3; }
.aboutFoto2 { grid-area: aboutFoto2;
    @extend .aboutBanner
}
.hr4 { grid-area: hr4; }
.footer { grid-area: footer; }


@media (max-width: 1024px) {
    .aboutBanner, .aboutFoto2 {
        display: flex;
        width: auto;
        height: auto;
        max-width: 90vw;
        align-self: center;
    }
    .aboutTexto {
        align-items: center;
        width: 100%;
        max-height: none;
        flex-grow: 1;
        h2 {
            span {
                font-size: calc(1em + 1vmin);
            }
        }
    }
    .aboutTitle {
        font-size: calc(2em + 1vmin);
        margin: 0px auto 30px;
    }
}

@media (max-width: 480px) {
    body {
        box-sizing: border-box;
    }
    .aboutBanner, .aboutFoto2 {
        img {
            &:hover {
                transform: none;
            }
        }
    }
}