$fondo: #000000;
$rojo: #dc3545;
$naranja: #ffc107;
$link: #0d6efd;
$rojo-fuerte: #e60127;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $fondo;
    margin: 2vh 2vw;
    height: 100%;
    align-items: center;
    p {
        font-size: clamp(1.5rem, 2vw, 4rem);
        font-family: "Verdana", "Geneva", sans-serif;
        max-width: 90vw;
        color:white;
        margin: 30px 40px;
        text-align: center;
        overflow-wrap: break-word;
        word-break: break-word;
    }
}

hr {
    width: 80%;
    height: 2px;
    background: linear-gradient(to left, $naranja, $rojo);
    margin: 40px auto;
    border: none;
}

.header { 
    margin: 10px auto 40px;
    width: 100%;
    max-width: 100%;
    .headerImage {
        text-align: center;
        margin: 30px auto;
        width: 60%;
        img {
            width: 100%;
            height: auto;
        }
    }
    h1 {
        font-family: Trebuchet MS, sans-serif;
        font-size: clamp(4.5rem, 4vw, 14rem);
        letter-spacing: 0.10em;
        color:white;
        text-align: center;
        overflow-wrap: break-word;
        height: auto;
        margin: 20px 0;
    }
    h2 {
        font-family: Trebuchet MS, sans-serif;
        font-size: clamp(3rem, 4vw, 12rem);
        letter-spacing: 0.10em;
        color: $rojo-fuerte;
        font-style: italic;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 30px;
        overflow-wrap: break-word;
    }
    hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

nav {
    width: 90%;
    margin: 5px auto;
    background-color: $fondo;
    .navbar-toggler {
        background-color: $fondo;
        border-color: $naranja;
    }
    #navbarContent {
        .navbar-nav {
            flex-wrap: wrap;            
            .nav-link {
                font-size: clamp(1.5rem, 2vw, 5rem);
                color: $naranja;
                transition: all 0.5s ease;
                &:hover {
                    color: $rojo-fuerte;
                    transform: scale(1.2);
                }
            }
        }
    }
    .navbar-toggler {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 10px auto 20px auto;
    a {
        color: $link;
        font-size: clamp(1rem, 2vw, 4rem);
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        img {
            width: 80%;
            height: auto;
            transition: transform 2s ease;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

/*Global Media Queries*/

@media (max-width: 1024px) {
    body {
        min-width: 500px;
        max-width: 1024px;
        margin: 2vh 2vw;
        height: 100%;
        p {
            font-size: clamp(2rem, 2vw, 3.5rem);
            margin: 20px 30px;
        }
    }
    hr {
        margin: 20px auto;
    }
    .header {
        margin: 10px auto 20px;
        .headerImage {
            margin: 20px 10px;
            width: 100%;
            img {
                width: 100%;
                height: auto;
            }
        }
        h1 {
            letter-spacing: 0.05em;
            margin: 15px auto;
        }
        h2 {
            letter-spacing: 0.05em;
            margin: 15px auto;
        }
        hr {
            margin: 15px auto;            
        }
    }
    nav {
        margin: 10px auto;
    }
    p {
        font-size: clamp(1.5rem, 2vw, 4rem);
    }

    .footer {
        a {
            img {
                width: 80%;
            }
        }
    }
}
@media (max-width: 991px) {
    body {
        nav {
            #navbarContent {
                .navbar-nav {
                    flex-direction: column !important;
                    flex-flow: column;
                    align-items: center;
                    justify-items: center;
                }
            }
        }
        #programCarousel {
            max-width: 90vw;
            max-height: 90%;
            margin: 10px;
            .carousel-inner{
                .carousel-item {
                    img {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                    }
                }
            }
        }
        #scottyCarousel{
            max-width: 90vw;
            max-height: 80%;
            margin: 10px;
            .carousel-inner{
                .carousel-item {
                    img {
                        width: 100%;
                        height: auto;
                        max-height: 80%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    body {
        max-width: 480px;
        min-width: 300px;
        margin: 2vh 4vw;
        height: 100%;
        p {
            font-size: calc(0.75em + 1vmin);
            margin: 20px 15px;
        }
    }
    hr {
        margin: 10px auto;
    }
    .header {
        .headerImage {
            margin: 20px auto;
            width: 100%;
            img {
                width: 100%;
                height: auto;
            }
        }
        h1 {
            font-size: clamp(2.5rem, 2vw, 5rem);
            letter-spacing: 0.10em;
            margin: 15px 0;
        }
        h2 {
            font-size: clamp(2rem, 2vw, 3.5rem);
            letter-spacing: 0.10em;
            margin-top: 15px;
            margin-bottom: 30px;
        }
        hr {
            margin: 15px auto;            
        }
    }
    .footer {
        a {
            img {
                width: 80%;
                transition: none;
                &:hover {
                    transform: none;
                }
            }
        }
    }
}

@media (max-width: 300px) {
    body {
        max-width: 300px;
        min-width: 2500px;
        width: 100%;
        margin: 2vh 2vw;
        height: 100%;
        p {
            font-size: calc(0.65em + 1vmin);
            margin: 15px;
        }
    }
}