/*Variables*/

$fondo: #000000;
$rojo: #dc3545;
$naranja: #ffc107;
$rojo2: #5c0211;
$naranja2: #896805;
$link: #0d6efd;
$rojo-fuerte: #e60127;

/*Global Styling*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@mixin text{
    font-size: clamp(1.5rem, 2vw, 4rem);
    font-family: "Verdana", "Geneva", sans-serif;
    max-width: 90vw;
    color:white;
    margin: 30px 40px;
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-word;
}

@mixin title{
    font-family: Trebuchet MS, sans-serif;
    font-size: clamp(2.5rem, 2vw, 5rem);
    color: $naranja;
    text-align: center;
    height: auto;
    font-weight: bold;
    margin: 30px auto;
    &:hover {
        transition: color 2s ease;
        color: $naranja2;
    }
}

@mixin grid{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    gap: 5px;
    margin: 20px auto;
    padding: 0px 10px;
    width: 100%;
    overflow-wrap: break-word;
}

body {
    background-color: $fondo;
    margin: 2vh 2vw;
    height: 100%;
    align-items: center;
    p {
        @include text;
    }
}

hr {
    width: 80%;
    height: 2px;
    background: linear-gradient(to left, $naranja, $rojo);
    margin: 40px auto;
    border: none;
}

.header { 
    margin: 10px auto 40px;
    width: 100%;
    max-width: 100%;
    .headerImage {
        text-align: center;
        margin: 30px auto;
        width: 60%;
        img {
            width: 100%;
            height: auto;
        }
    }
    h1 {
        font-family: Trebuchet MS, sans-serif;
        font-size: clamp(4.5rem, 4vw, 14rem);
        letter-spacing: 0.10em;
        color:white;
        text-align: center;
        overflow-wrap: break-word;
        height: auto;
        margin: 20px 0;
    }
    h2 {
        font-family: Trebuchet MS, sans-serif;
        font-size: clamp(3rem, 4vw, 12rem);
        letter-spacing: 0.10em;
        color: $rojo-fuerte;
        font-style: italic;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 30px;
        overflow-wrap: break-word;
    }
    hr {
        margin: 5px auto;
    }
}

nav {
    width: 100%;
    margin: 5px auto;
    background-color: $fondo;
    .navbar-toggler {
        border: 2px solid transparent;
        border-image: linear-gradient(to left, $naranja, $rojo);
        border-image-slice: 1;
        margin: 10px auto;
        .navbar-toggler-icon {
            background-image: none;
        }
        .navbar-toggler-icon::before, .navbar-toggler-icon::after, .navbar-toggler-icon span {
            display: block;
            width: 22px;
            height: 2px;
            margin: 6px auto;
            background-color: $naranja2;
            content: '';
        }
    }
    #navbarContent {
        .navbar-nav {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 3rem;
            padding: 0.5rem;
            margin: 0.5rem;
            .nav-link {
                font-size: clamp(1.5rem, 2vw, 5rem);
                color: $naranja;
                transition: all 0.5s ease;
                &:hover {
                    color: $rojo-fuerte;
                    transform: scale(1.2);
                }
            }
            .nav-link.active {
                color: $naranja2;
            }
        }
    }
    .navbar-toggler {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 10px auto 20px auto;
    figure {
        a {
            color: $link;
            font-size: clamp(1rem, 2vw, 4rem);
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
            .footerLogo {
                width: 80%;
                height: auto;
                margin: 0px auto;
                transition: transform 2s ease;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}

/*Global Media Queries*/

@media (max-width: 1024px) {
    body {
        min-width: 500px;
        max-width: 1024px;
        margin: 2vh 2vw;
        height: 100%;
        p {
            font-size: clamp(2rem, 2vw, 3.5rem);
            margin: 20px 30px;
        }
    }
    hr {
        margin: 20px auto;
    }
    .header {
        margin: 10px auto 20px;
        .headerImage {
            margin: 20px 10px;
            width: 100%;
            img {
                width: 100%;
                height: auto;
            }
        }
        h1 {
            letter-spacing: 0.05em;
            margin: 15px auto;
        }
        h2 {
            letter-spacing: 0.05em;
            margin: 15px auto;
        }
        hr {
            margin: 15px auto;            
        }
    }
    nav {
        margin: 10px auto;
    }
    p {
        font-size: clamp(1.5rem, 2vw, 4rem);
    }

    .footer {
        a {
            img {
                width: 80%;
            }
        }
    }
}
@media (max-width: 991px) {
    body {
        nav {
            #navbarContent {
                .navbar-nav {
                    flex-direction: column;
                    flex-flow: column;
                    align-items: center;
                    justify-items: center;
                    line-height: 0;
                    margin: 10px auto;
                }
            }
        }
        #programCarousel {
            max-width: 90vw;
            max-height: 90%;
            margin: 10px;
            .carousel-inner{
                .carousel-item {
                    img {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                    }
                }
            }
        }
        #scottyCarousel{
            max-width: 90vw;
            max-height: 80%;
            margin: 10px;
            .carousel-inner{
                .carousel-item {
                    img {
                        width: 100%;
                        height: auto;
                        max-height: 80%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    body {
        max-width: 480px;
        min-width: 300px;
        margin: 2vh 4vw;
        height: 100%;
        p {
            font-size: calc(0.75em + 1vmin);
            margin: 20px 15px;
        }
        h2 {
            font-size: calc(1em + 1vmin);
            margin: 20px 15px;
        }
    }
    hr {
        margin: 20px auto;
    }
    .header {
        .headerImage {
            margin: 25px auto;
            width: 100%;
            img {
                width: 100%;
                height: auto;
            }
        }
        h1 {
            font-size: calc(3rem + 1vmin);
            letter-spacing: 0.15em;
            line-height: 1.5;
            margin: 15px auto;
        }
        h2 {
            font-size: calc(2rem + 1vmin);
            letter-spacing: 0.15em;
            line-height: 1.5;
            margin-top: 25px;
            margin-bottom: 40px;
        }
        hr {
            margin: 15px auto;            
        }
    }
    nav {
        margin: 20px auto;
    }
    .footer {
        figure {
            a {
                .footerLogo {
                    transition: none;
                    &:hover {
                        transform: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 300px) {
    body {
        width: 100%;
        margin: 2vh 2vw;
        height: 100%;
        p {
            font-size: calc(0.75em + 1vmin);
            margin: 15px;
        }
        h2 {
            font-size: calc(1em + 1vmin);
            margin: 20px 15px;
        }
    }
}