$fondo: #030104;
$rojo: #dc3545;
$naranja: #ffc107;
$link: #0d6efd;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $fondo;
    width: minmax(600px, 1000px);
    margin: 0 auto;
    padding: 20px;
    height: 100%;
}

.header {
    .headerImage {
        img {
            max-width: 100%;
            height: auto;
        }
    }
    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: clamp(3rem, 8vw, 10rem);
        margin-top: 2rem;
        color:white;
        text-align: center;
        flex-wrap: wrap;
        height: auto;
    }
    h2 {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-style: italic;
        font-size: clamp(2.5rem, 6vw, 8rem);
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 1rem;
        flex-wrap: wrap;
    }
}

.naviBar {
    width: 80%;
    margin: 0 auto;
    background-color: #030104;
    nav {
        button {
            background-color: $fondo;
            border-color: $naranja;
        }
        #navbarContent {
            a {
                font-size: clamp(2rem, 2vw, 6rem);
            }
        }
        .navbar-nav {
            flex-wrap: wrap;
            .nav-link {
                color: #ffc107;
                transition: all 0.5s ease;
                &:hover {
                    color: #dc3545;
                    transform: scale(1.2);
                }
            }
        }
    }
}

.navbar-toggler {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.headerImage {
    width: auto;
    margin: 10px auto;
    img {
        width: 100%;
        height: auto;
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-top: auto;
    a {
        color: $link;
        font-size: clamp(1rem, 2vw, 4rem);
        text-decoration: none;
        display: inline-block;
        transition: all 0.5s ease;  
        &:hover {
            transform: scale(1.2);
            color: $rojo;
        }
    }
}