/*404 Page Styling*/

.grid404 {  display: grid;
    @include grid;
    grid-template-areas:
        "header"
        "title404"
        "hr1"
        "scotty404"
        "caption404"
        "hr2"
        "footer";
}
.header { grid-area: header; }
.title404 { grid-area: title404;
    justify-content: center;
    margin: 20px auto;
        h2 {
            color: $rojo-fuerte;
            font-weight: bold;
            font-size: clamp(2.5rem, 2vw, 6rem);            
            height: 100%;
            text-align: center;
            margin: 0px;
            }
}
.hr1 { grid-area: hr1; }
.scotty404 { grid-area: scotty404;
    text-align: center;
    width: 50%;
    margin: 20px auto;
    max-width: 60vw;
    img {
        width: 100%;
        height: auto;
        transition: 2s ease;
        &:hover {
            transform: scale(1.2);
        }
    }
}
.caption404 { grid-area: caption404; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
    letter-spacing: 0.10em;
    p {
        @include text;
        max-width: 80vw;
    }
}
.hr2 { grid-area: hr2; }
.footer { grid-area: footer; }

@media (max-width: 1024px) {
    .title404 {
        font-size: calc(1.5em + 1vmin);
    }
    .caption404 {
        p {
            font-size: calc(1em + 1vmin);
        }
    }
    .title404 {
    margin: 10px auto;
    }
}

@media (max-width: 480px) {
    .title404{
        margin: 10px auto 20px;
    }
    .scotty404 {
        img {
            &:hover {
                transform: none;
            }
        }
    }
    .footer {
        width: 80%;
        margin: 10px auto;
    }
}