/*Styling of the Program webpage*/

.programImage {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.programText {
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    color:white;
    text-align: center;
    width: 98%;
    margin: 5px;
}