/*Styling of the Program webpage*/
$rojo2: #5c0211;
$naranja2: #896805;


.programGrid {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 5px;
    margin: 20px;
    padding: 20px;
    overflow-wrap: break-word;
    grid-template-areas:
        "header"
        "hr1"
        "programImage"
        "hr2"
        "programText"
        "hr3"
        "tableTitle"
        "table"
        "hr4"
        "footer";
}
.header { grid-area: header; }
.hr1 { grid-area: hr1; }
.programImage { grid-area: programImage;
    text-align: center;
    margin: auto;
    max-width: 70vw;
    img {
        margin-top: 10px;
        margin-bottom: 10px;
        transition: 2s ease;
        width: auto;
        &:hover {
            transform: scale(1.2);
        }
    }
}
.hr2 { grid-area: hr2; }
.programText { grid-area: programText;
    p {
        font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
        max-width: 90vw;
        font-size: clamp(1.5rem, 5vh, 6rem);
        color:white;
        padding: 20px;
        margin: 10px;
        text-align: center;
        overflow-wrap: break-word;
        word-break: break-word;
    }
}
.hr3 { grid-area: hr3; }
.tableTitle { grid-area: tableTitle; 
    p {
        font-size: clamp(2rem, 5vh, 7rem);
        color: $naranja;
        text-align: center;
        font-weight: bold;
        text-decoration: underline;
        transition: all 1s ease;
        &:hover {
            color: $rojo;
        }
    }
}
.table { grid-area: table; 
    tbody {
        tr {
            &:nth-child(odd) {
                font-size: clamp(2rem, 5vh, 4rem);
                th {
                    background-color: $rojo2;
                    color: white;
                    text-align: center;
                }
                td {
                    background-color: $rojo2;
                    color: white;
                    text-align: center;
                }
            }
            &:nth-child(even) {
                font-size: clamp(2rem, 5vh, 4rem);
                th {
                    background-color: $naranja2;
                    color: white;
                    text-align: center;
                }
                td {
                    background-color: $naranja2;
                    color: white;
                    text-align: center;
                }
            }            
        }    
    }
}
.hr4 { grid-area: hr4; }
.footer { grid-area: footer; 
    width: 100%;
    align-self: center;
}

@media (max-width: 1024px) {
    .programText {
        p {
            font-size: calc(0.75em + 1vmin);
        }
    }
}

@media (max-width: 480px) {
    body {
        box-sizing: border-box;
        width: 100%;
    }
    .table {
        overflow-x: auto;
    }
}