/*Styling of the Scotty Bio webpage*/

.scottyGrid {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
    width: 100%;
    min-height: 100vh;
    grid-template-areas:
        "header"
        "hr1"
        "scottyI1"
        "hr2"
        "scottyT1"
        "hr3"
        "scottyT2"
        "hr4"
        "scottyCarousel"
        "hr5"
        "scottyT3"
        "hr6"
        "footer";
}
.header { grid-area: header; }
.hr1 { grid-area: hr1; }
.scottyI1 { grid-area: scottyI1;
    text-align: center;
    margin: 20px;
    transition: 2s ease;
    height: auto;
    width: 100%;
    &:hover {
        transform: scale(1.2);
    }
}
.hr2 { grid-area: hr2; }
.scottyT1 { grid-area: scottyT1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
    p {
        font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
        font-size: clamp(2rem, 5vh, 6rem);
        color:white;
        font-style: italic;
    }
}
.hr3 { grid-area: hr3; }
.scottyT2 { grid-area: scottyT2; 
    @extend .scottyT1;
}
.hr4 { grid-area: hr4; }
.scottyCarousel { grid-area: scottyCarousel; 
    #carousel {
        max-width: 70vw; 
        margin: auto; 
        padding: 30px;
    }
    .carousel-inner img {
        height: auto;
        max-height: 100%;
        object-fit: cover;
    }
}
.hr5 { grid-area: hr5; }
.scottyT3 { grid-area: scottyT3; 
    @extend .scottyT1;
}
.hr6 { grid-area: hr6; }
.footer { grid-area: footer; }

