/*Styling of the Scotty Bio webpage*/

.scottyGrid {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    gap: 5px;
    margin: 20px;
    overflow-wrap: break-word;
    box-sizing: border-box;
    grid-template-areas:
        "header"
        "scottyI1"
        "hr1"
        "scottyT1"
        "hr2"
        "scottyT2"
        "hr3"
        "scottyCarousel"
        "hr4"
        "scottyT3"
        "hr5"
        "footer";
}
.header { grid-area: header; }
.scottyI1 { grid-area: scottyI1;
    text-align: center;
    margin: 20px auto;
    img {
        max-width: 100%;
        height: auto;
        transition: 2s ease;
        &:hover {
            transform: scale(1.2);
        }
    }
}
.hr1 { grid-area: hr1; }
.scottyT1 { grid-area: scottyT1;
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    p {
        font-style: italic;
    }
    h2 {
        @extend p
    }
}
.hr2 { grid-area: hr2; }
.scottyT2 { grid-area: scottyT2; 
    @extend .scottyT1;
}
.hr3 { grid-area: hr3; }
.scottyCarousel { grid-area: scottyCarousel;
    .carousel {
        box-sizing: border-box;
        max-width: 50%;
        .carousel-inner {
            .carousel-item {
                img {
                    height:auto;
                    margin:auto;
                }
            }
        }
    }
}
#scottyCarousel {
    margin: 10px;
}
.hr4 { grid-area: hr4; }
.scottyT3 { grid-area: scottyT3; 
    @extend .scottyT1;
    .scottyLink {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 0px;
            a {
                color: $link;
                text-decoration: none;
                transition: all 0.5s ease;
                &:hover {
                    transform: scale(1.2);
                    color: #e60127;
                }
            }
    }
}
.hr5 { grid-area: hr5; }
.footer { grid-area: footer; }

@media (max-width: 1024px) {
    .scottyT1 {
        p {
            font-size: calc(1em + 1vmin);
        }
    }
}

@media (max-width: 480px) {
    body {
        box-sizing: border-box;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .scottyI1 {
        img {
            &:hover {
                transform: none;
            }
        }
    }
    main {
        .scottyT1 {
            h2 {
                font-size: calc(1.15em + 1vmin);
                margin: 20px 15px;
            }
        }
    }

}