/*Styling of the Scotty Bio webpage*/

.scottyGrid {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
    width: 100%;
    min-height: 100vh;
    grid-template-areas:
        "header"
        "hr1"
        "scottyI1"
        "hr2"
        "scottyT1"
        "hr3"
        "scottyT2"
        "hr4"
        "carousel"
        "hr5"
        "scottyT3"
        "hr6"
        "footer";
}
.header { grid-area: header; }
.hr1 { grid-area: hr1; }
.scottyI1 { grid-area: scottyI1;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    img {
        max-width: 100%;
        height: auto;
        transition: 2s ease;
        &:hover {
            transform: scale(1.2);
        }
    }
}
.hr2 { grid-area: hr2; }
.scottyT1 { grid-area: scottyT1;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 10px;
    box-sizing: border-box;
    p {
        font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
        font-size: clamp(2rem, 5vh, 6rem);
        color:white;
        font-style: italic;
    }
    span {
        color: $naranja;
        font-weight: bold;
    }
}
.hr3 { grid-area: hr3; }
.scottyT2 { grid-area: scottyT2; 
    @extend .scottyT1;
}
.hr4 { grid-area: hr4; }
.carousel { grid-area: carousel;
    margin: auto;
    box-sizing: border-box;
    padding: 25px;
    .carousel-inner {
        .carousel-item {
            img {     
                height: auto;
                margin:auto;
            }
        }
    }
}
.hr5 { grid-area: hr5; }
.scottyT3 { grid-area: scottyT3; 
    @extend .scottyT1;
    span {
        color: $naranja;
        font-weight: bolder;
    }
    .scottyLink {
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                color: $link;
                text-decoration: none;
                transition: all 0.5s ease;
                &:hover {
                    transform: scale(1.2);
                    color: $rojo;
                }
            }
    }
}
.hr6 { grid-area: hr6; }
.footer { grid-area: footer; }

@media (max-width: 1024px) {
    .scottyT1 {
        p {
            font-size: calc(0.75em + 1vmin);
        }
    }
}

@media (max-width: 480px) {
    body {
        width: 480px;
    }
}
