/*Styling of the Videos webpage*/

.videosText{
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    color:white;
    text-align: center;
}

.videos {
    display: flex;
    justify-content: center;
    margin: 20px;
}