/*Styling of the Videos webpage*/

.videosGrid {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 5px;
    margin: 20px;
    padding: 20px;
    overflow-wrap: break-word;
    grid-template-areas:
        "header"
        "hr1"
        "videoT1"
        "video1"
        "hr2"
        "videoT2"
        "video2"
        "hr3"
        "videoT3"
        "video3"
        "hr4"
        "footer";
}
.header { grid-area: header; }
.hr1 { grid-area: hr1; }
.videoT1 { grid-area: videoT1; 
    p {
        text-align: center;
        a {
            font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
            font-size: clamp(1.5rem, 2vw, 5rem);
            color: $naranja;
            font-weight: bolder;
            text-decoration: underline;
            margin-top: 10px;
            margin-bottom: 30px;
            display: inline-block;
            transition: all 1s ease;
            &:hover {
                color: #e60127;
                transform: scale(1.2);
            }
        }
    }
}
.video1 { grid-area: video1;
    display: flex;
    justify-content: center;
    margin: 20px;
    padding-bottom: 10px;
}
.hr2 { grid-area: hr2; }
.videoT2 { grid-area: videoT2; 
    @extend .videoT1;
}
.video2 { grid-area: video2; 
    @extend .video1;
}
.hr3 { grid-area: hr3; }
.videoT3 { grid-area: videoT3; 
    @extend .videoT1;
    p {
        a {
            span {
                font-style: italic;
            }
        }
    }
}
.video3 { grid-area: video3; 
    @extend .video1;
}
.hr4 { grid-area: hr4; }
.footer { grid-area: footer; }

@media (max-width: 1024px) {
    .videoT1 {
        p {
            font-size: calc(0.75em + 1vmin);
        }
    }
}

@media (max-width: 480px) {
    body {
        box-sizing: border-box;
        width: 100%;
    }
}