/*Partials y Variables*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  width: minmax(600px, 1000px);
  margin-left: 2vw;
  margin-right: 2vw;
  height: 100%;
}
body .text-danger {
  color: #dc3545;
}

hr {
  width: 80%;
  height: 2px;
  background: linear-gradient(to left, #ffc107, #dc3545);
  margin: 40px auto;
  border: none;
}

.header .headerImage {
  width: 100%;
}
.header .headerImage img {
  width: 100%;
  height: auto;
}
.header h1 {
  font-family: Trebuchet MS, sans-serif;
  font-size: clamp(4rem, 4vw, 7rem);
  letter-spacing: 0.05em;
  color: white;
  text-align: center;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.header h2 {
  font-family: Trebuchet MS, sans-serif;
  font-size: clamp(2rem, 4vw, 5rem);
  letter-spacing: 0.05em;
  color: #e60127;
  font-style: italic;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  overflow-wrap: break-word;
}
.header hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

nav {
  width: 80%;
  margin: 0 auto;
  background-color: #000000;
}
nav .navbar-toggler {
  background-color: #000000;
  border-color: #ffc107;
}
nav #navbarContent .navbar-nav {
  flex-wrap: wrap;
}
nav #navbarContent .navbar-nav .nav-link {
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: #ffc107;
  transition: all 0.5s ease;
}
nav #navbarContent .navbar-nav .nav-link:hover {
  color: #e60127;
  transform: scale(1.2);
}
nav .navbar-toggler {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  text-align: center;
  margin-top: auto;
  margin-bottom: 20px;
}
.footer a {
  color: #0d6efd;
  font-size: clamp(1rem, 2vw, 4rem);
  text-decoration: none;
  display: inline-block;
  transition: all 0.5s ease;
  cursor: pointer;
}
.footer a img {
  width: 50%;
  height: auto;
  transition: transform 1s ease;
}
.footer a img:hover {
  transform: scale(1.2);
}

/*Global Media Queries*/
@media (max-width: 1024px) {
  * {
    margin: 5px;
    padding: 0;
  }
}
@media (max-width: 480px) {
  * {
    margin: 2vw;
    padding: 0;
  }
  html {
    /*global font-size declaration!! To use rem units off of!*/
    background-color: #000000;
  }
  body {
    background-color: #000000;
    width: minmax(300px, 480px);
    margin-left: 2vw;
    margin-right: 2vw;
    height: 100%;
  }
  body .text-danger {
    color: #dc3545;
  }
}
/*404 Page Styling*/
.grid404 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  gap: 5px;
  margin: 20px;
  overflow-wrap: break-word;
  grid-template-areas: "header" "title404" "hr1" "scotty404" "caption404" "hr2" "footer";
}

.header {
  grid-area: header;
}

.title404 {
  grid-area: title404;
  justify-content: center;
}
.title404 h2 {
  font-weight: bold;
  color: #dc3545;
  font-weight: bold;
  font-size: clamp(3rem, 2vw, 6rem);
  height: 100%;
  text-align: center;
}

.hr1 {
  grid-area: hr1;
}

.scotty404 {
  grid-area: scotty404;
  text-align: center;
  margin: auto;
  padding: 20px;
  width: 100%;
}
.scotty404 img {
  width: 50%;
  transition: 2s ease;
}
.scotty404 img:hover {
  transform: scale(1.2);
}

.caption404 {
  grid-area: caption404;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px;
  letter-spacing: 0.1em;
}
.caption404 p {
  font-family: Arial, "Arial Unicode MS", Helvetica, Sans-Serif;
  max-width: 90vw;
  font-size: clamp(1.5rem, 5vh, 6rem);
  color: white;
  padding: 20px;
  margin: 10px;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
}

.hr2 {
  grid-area: hr2;
}

.footer {
  grid-area: footer;
}

@media (max-width: 1024px) {
  .title404 {
    font-size: calc(1.5em + 1vmin);
  }
  .caption404 p {
    font-size: calc(0.75em + 1vmin);
  }
}
@media (max-width: 480px) {
  body {
    box-sizing: border-box;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
/*Styling of the About webpage*/
.aboutGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto 1fr auto 1fr auto auto;
  gap: 5px;
  margin: 20px;
  overflow-wrap: break-word;
  grid-template-areas: "header" "aboutTitle" "hr2" "aboutBanner" "hr3" "aboutTexto1" "hr4" "aboutTexto2" "hr5" "aboutFoto2" "hr6" "footer";
}

.header {
  grid-area: header;
}

.hr1 {
  grid-area: hr1;
}

.aboutTitle {
  grid-area: aboutTitle;
}
.aboutTitle p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(2rem, 4vw, 10rem);
  margin-top: 2rem;
  color: #ffc107;
  text-align: center;
  flex-wrap: wrap;
  height: auto;
}

.hr2 {
  grid-area: hr2;
}

.aboutBanner, .aboutFoto2 {
  grid-area: aboutBanner;
  text-align: center;
  margin: auto;
  width: 90%;
}
.aboutBanner img, .aboutFoto2 img {
  transition: 2s ease;
}
.aboutBanner img:hover, .aboutFoto2 img:hover {
  transform: scale(1.15);
}

.hr3 {
  grid-area: hr3;
}

.aboutTexto1, .aboutTexto2 {
  grid-area: aboutTexto1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px;
}
.aboutTexto1 p, .aboutTexto2 p {
  font-family: Arial, "Arial Unicode MS", Helvetica, Sans-Serif;
  max-width: 90vw;
  font-size: clamp(1.5rem, 5vh, 6rem);
  color: white;
  padding: 20px;
  margin: 10px;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
}

.hr4 {
  grid-area: hr4;
}

.aboutTexto2 {
  grid-area: aboutTexto2;
}

.hr5 {
  grid-area: hr5;
}

.aboutFoto2 {
  grid-area: aboutFoto2;
}

.hr6 {
  grid-area: hr6;
}

.footer {
  grid-area: footer;
}

@media (max-width: 900px) {
  .aboutBanner, .aboutFoto2 {
    display: flex;
    width: auto;
    height: auto;
    max-width: 90vw;
    align-self: center;
  }
  .aboutTexto1, .aboutTexto2 {
    align-items: center;
    width: 100%;
    max-height: none;
    padding: 20px;
    flex-grow: 1;
  }
  .aboutTexto1 p, .aboutTexto2 p {
    width: 100%;
    text-align: center;
    font-size: calc(0.75em + 1vmin);
    padding: 20px;
    white-space: normal;
  }
}
@media (max-width: 480px) {
  body {
    box-sizing: border-box;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
/*Styling of the Program webpage*/
.programGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 5px;
  margin: 20px;
  overflow-wrap: break-word;
  grid-template-areas: "header" "programCarousel" "hr2" "programText" "hr3" "tableTitle" "table" "hr4" "footer";
}

.header {
  grid-area: header;
}

.hr1 {
  grid-area: hr1;
}

.programCarousel {
  grid-area: programCarousel;
}
.programCarousel .carousel {
  margin: auto;
  padding: 25px;
  max-width: 100%;
}
.programCarousel .carousel .carousel-inner {
  width: 100%;
  height: auto;
}
.programCarousel .carousel .carousel-inner .carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.programCarousel .carousel .carousel-inner .carousel-item img {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  object-fit: contain;
}

.hr2 {
  grid-area: hr2;
}

.programText {
  grid-area: programText;
}
.programText p {
  font-family: Arial, "Arial Unicode MS", Helvetica, Sans-Serif;
  max-width: 90vw;
  font-size: clamp(1.5rem, 5vh, 6rem);
  color: white;
  padding: 20px;
  margin: 10px;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
}

.hr3 {
  grid-area: hr3;
}

.tableTitle {
  grid-area: tableTitle;
}
.tableTitle p {
  font-size: clamp(2rem, 5vh, 7rem);
  color: #ffc107;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  transition: all 1s ease;
}
.tableTitle p:hover {
  color: #dc3545;
}

.table {
  grid-area: table;
  max-width: 100%;
}
.table tbody tr:nth-child(odd) {
  font-size: clamp(2rem, 5vh, 4rem);
}
.table tbody tr:nth-child(odd) th {
  background-color: #5c0211;
  color: white;
  text-align: center;
}
.table tbody tr:nth-child(odd) td {
  background-color: #5c0211;
  color: white;
  text-align: center;
}
.table tbody tr:nth-child(even) {
  font-size: clamp(2rem, 5vh, 4rem);
}
.table tbody tr:nth-child(even) th {
  background-color: #896805;
  color: white;
  text-align: center;
}
.table tbody tr:nth-child(even) td {
  background-color: #896805;
  color: white;
  text-align: center;
}

.hr4 {
  grid-area: hr4;
}

.footer {
  grid-area: footer;
}

@media (max-width: 1024px) {
  .programText p {
    font-size: calc(0.75em + 1vmin);
  }
}
@media (max-width: 480px) {
  body {
    box-sizing: border-box;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .carousel {
    padding: 15px;
    max-width: 100%;
  }
  .carousel-inner .carousel-item img {
    max-width: 100%;
    height: auto;
  }
}
/*Styling of the Scotty Bio webpage*/
.scottyGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  gap: 5px;
  margin: 20px;
  overflow-wrap: break-word;
  box-sizing: border-box;
  grid-template-areas: "header" "scottyI1" "hr2" "scottyT1" "hr3" "scottyT2" "hr4" "scottyCarousel" "hr5" "scottyT3" "hr6" "footer";
}

.header {
  grid-area: header;
}

.hr1 {
  grid-area: hr1;
}

.scottyI1 {
  grid-area: scottyI1;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.scottyI1 img {
  max-width: 100%;
  height: auto;
  transition: 2s ease;
}
.scottyI1 img:hover {
  transform: scale(1.2);
}

.hr2 {
  grid-area: hr2;
}

.scottyT1, .scottyT3, .scottyT2 {
  grid-area: scottyT1;
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  height: auto;
}
.scottyT1 p, .scottyT3 p, .scottyT2 p {
  font-family: Arial, "Arial Unicode MS", Helvetica, Sans-Serif;
  font-size: clamp(1rem, 2vw, 4rem);
  margin: 40px 40px;
  color: white;
  font-style: italic;
}

.hr3 {
  grid-area: hr3;
}

.scottyT2 {
  grid-area: scottyT2;
}

.hr4 {
  grid-area: hr4;
}

.scottyCarousel {
  grid-area: scottyCarousel;
}
.scottyCarousel .carousel {
  margin: auto;
  box-sizing: border-box;
  padding: 25px;
}
.scottyCarousel .carousel .carousel-inner .carousel-item {
  margin: auto;
}
.scottyCarousel .carousel .carousel-inner .carousel-item img {
  height: auto;
  margin: auto;
}

.hr5 {
  grid-area: hr5;
}

.scottyT3 {
  grid-area: scottyT3;
}
.scottyT3 .scottyLink {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}
.scottyT3 .scottyLink a {
  color: #0d6efd;
  text-decoration: none;
  transition: all 0.5s ease;
}
.scottyT3 .scottyLink a:hover {
  transform: scale(1.2);
  color: #e60127;
}

.hr6 {
  grid-area: hr6;
}

.footer {
  grid-area: footer;
}

@media (max-width: 1024px) {
  .scottyT1 p, .scottyT2 p, .scottyT3 p {
    font-size: calc(0.75em + 1vmin);
  }
}
@media (max-width: 480px) {
  body {
    box-sizing: border-box;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
/*Styling of the Videos webpage*/
.videosGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 5px;
  margin: 20px;
  overflow-wrap: break-word;
  grid-template-areas: "header" "videoT1" "video1" "hr2" "videoT2" "video2" "hr3" "videoT3" "video3" "hr4" "footer";
}

.header {
  grid-area: header;
}

.hr1 {
  grid-area: hr1;
}

.videoT1, .videoT3, .videoT2 {
  grid-area: videoT1;
}
.videoT1 p, .videoT3 p, .videoT2 p {
  text-align: center;
}
.videoT1 p a, .videoT3 p a, .videoT2 p a {
  font-family: Arial, "Arial Unicode MS", Helvetica, Sans-Serif;
  font-size: clamp(1.5rem, 2vw, 5rem);
  color: #ffc107;
  font-weight: bolder;
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 30px;
  display: inline-block;
  transition: all 1s ease;
}
.videoT1 p a:hover, .videoT3 p a:hover, .videoT2 p a:hover {
  color: #e60127;
  transform: scale(1.2);
}

.video1, .video3, .video2 {
  grid-area: video1;
  display: flex;
  justify-content: center;
  margin: 20px;
  padding-bottom: 10px;
}

.hr2 {
  grid-area: hr2;
}

.videoT2 {
  grid-area: videoT2;
}

.video2 {
  grid-area: video2;
}

.hr3 {
  grid-area: hr3;
}

.videoT3 {
  grid-area: videoT3;
}
.videoT3 p a span {
  font-style: italic;
}

.video3 {
  grid-area: video3;
}

.hr4 {
  grid-area: hr4;
}

.footer {
  grid-area: footer;
}

@media (max-width: 1024px) {
  .videoT1 p, .videoT2 p, .videoT3 p {
    font-size: calc(0.75em + 1vmin);
  }
}
@media (max-width: 480px) {
  body {
    box-sizing: border-box;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
/*Styling of the Main webpage*/
.indexGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  gap: 5px;
  margin: 20px;
  overflow-wrap: break-word;
  grid-template-areas: "header" "mainGrid" "hr2" "indexTexto2" "hr3" "footer";
}

.header {
  grid-area: header;
}

.hr1 {
  grid-area: hr1;
}

.mainGrid {
  grid-area: mainGrid;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-auto-rows: auto;
  gap: 10px;
  margin: 20px;
  padding: 50px;
  grid-template-areas: "indexImagen titleContainer" "indexImagen indexTexto1";
}
.mainGrid .indexImagen {
  grid-area: indexImagen;
  position: sticky;
  align-self: start;
  top: 20px;
}
.mainGrid .indexImagen img {
  max-width: 100%;
  height: auto;
}
.mainGrid .titleContainer {
  grid-area: titleContainer;
  justify-content: center;
}
.mainGrid .titleContainer p {
  font-weight: bold;
  color: #dc3545;
  font-weight: bold;
  font-size: clamp(1.2rem, 2vw, 6rem);
  height: 100%;
  text-align: center;
}
.mainGrid .indexTexto1 {
  grid-area: indexTexto1;
  overflow: visible;
}
.mainGrid .indexTexto1 p {
  font-family: Arial, "Arial Unicode MS", Helvetica, Sans-Serif;
  color: white;
  width: 100%;
  padding: 5px;
  line-height: 2;
  font-size: clamp(0.4rem, 2vw, 4rem);
  margin-bottom: 10px;
}

.hr2 {
  grid-area: hr2;
}

.indexTexto2 {
  grid-area: indexTexto2;
  display: flex;
  flex-direction: column;
  height: auto;
  overflow: visible;
}
.indexTexto2 p {
  color: white;
  font-size: clamp(1rem, 2vw, 4rem);
  margin: 40px 40px;
}
.indexTexto2 p a {
  text-decoration: none;
  display: inline-block;
  transition: all 0.5s ease;
}
.indexTexto2 p a:hover {
  color: #dc3545;
}

.hr3 {
  grid-area: hr3;
}

.footer {
  grid-area: footer;
}

/*Media Queries*/
@media (max-width: 1024px) {
  body {
    width: 100%;
    align-items: center;
  }
  .indexGrid {
    margin: 0 10px;
  }
  .mainGrid {
    grid-area: mainGrid;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-auto-columns: auto;
    gap: 10px;
    margin: 20px;
    padding: 30px;
    grid-template-areas: "indexImagen" "titleContainer" "indexTexto1";
  }
  .mainGrid .indexImagen {
    grid-area: indexImagen;
    position: static;
  }
  .mainGrid .indexImagen img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  .mainGrid .titleContainer {
    grid-area: titleContainer;
    justify-content: center;
  }
  .mainGrid .titleContainer p {
    font-weight: bold;
    color: #dc3545;
    font-weight: bold;
    font-size: calc(0.75em + 1vmin);
    text-align: center;
  }
  .mainGrid .indexTexto1 {
    grid-area: indexTexto1;
    overflow: visible;
  }
  .mainGrid .indexTexto1 .textContainer p {
    font-family: Arial, "Arial Unicode MS", Helvetica, Sans-Serif;
    color: white;
    width: 100%;
    padding: 5px;
    line-height: 1.5;
    font-size: calc(0.75em + 1vmin);
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  body {
    box-sizing: border-box;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
