/*Partials*/
/*Variables*/
/*Global Styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  margin: 2vh 2vw;
  height: 100%;
  align-items: center;
}
body p {
  font-size: clamp(1.5rem, 2vw, 4rem);
  font-family: "Verdana", "Geneva", sans-serif;
  max-width: 90vw;
  color: white;
  margin: 30px 40px;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
}

hr {
  width: 80%;
  height: 2px;
  background: linear-gradient(to left, #ffc107, #dc3545);
  margin: 40px auto;
  border: none;
}

.header {
  margin: 10px auto 40px;
  width: 100%;
  max-width: 100%;
}
.header .headerImage {
  text-align: center;
  margin: 30px auto;
  width: 60%;
}
.header .headerImage img {
  width: 100%;
  height: auto;
}
.header h1 {
  font-family: Trebuchet MS, sans-serif;
  font-size: clamp(4.5rem, 4vw, 14rem);
  letter-spacing: 0.1em;
  color: white;
  text-align: center;
  overflow-wrap: break-word;
  height: auto;
  margin: 20px 0;
}
.header h2 {
  font-family: Trebuchet MS, sans-serif;
  font-size: clamp(3rem, 4vw, 12rem);
  letter-spacing: 0.1em;
  color: #e60127;
  font-style: italic;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
  overflow-wrap: break-word;
}
.header hr {
  margin: 5px auto;
}

nav {
  width: 100%;
  margin: 5px auto;
  background-color: #000000;
}
nav .navbar-toggler {
  border: 2px solid transparent;
  border-image: linear-gradient(to left, #ffc107, #dc3545);
  border-image-slice: 1;
  margin: 10px auto;
}
nav .navbar-toggler .navbar-toggler-icon {
  background-image: none;
}
nav .navbar-toggler .navbar-toggler-icon::before, nav .navbar-toggler .navbar-toggler-icon::after, nav .navbar-toggler .navbar-toggler-icon span {
  display: block;
  width: 22px;
  height: 2px;
  margin: 6px auto;
  background-color: #896805;
  content: "";
}
nav #navbarContent .navbar-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding: 0.5rem;
  margin: 0.5rem;
}
nav #navbarContent .navbar-nav .nav-link {
  font-size: clamp(1.5rem, 2vw, 5rem);
  color: #ffc107;
  transition: all 0.5s ease;
}
nav #navbarContent .navbar-nav .nav-link:hover {
  color: #e60127;
  transform: scale(1.2);
}
nav .navbar-toggler {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 10px auto 20px auto;
}
.footer figure a {
  color: #0d6efd;
  font-size: clamp(1rem, 2vw, 4rem);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.footer figure a .footerLogo {
  width: 80%;
  height: auto;
  margin: 0px auto;
  transition: transform 2s ease;
}
.footer figure a .footerLogo:hover {
  transform: scale(1.2);
}

/*Global Media Queries*/
@media (max-width: 1024px) {
  body {
    min-width: 500px;
    max-width: 1024px;
    margin: 2vh 2vw;
    height: 100%;
  }
  body p {
    font-size: clamp(2rem, 2vw, 3.5rem);
    margin: 20px 30px;
  }
  hr {
    margin: 20px auto;
  }
  .header {
    margin: 10px auto 20px;
  }
  .header .headerImage {
    margin: 20px 10px;
    width: 100%;
  }
  .header .headerImage img {
    width: 100%;
    height: auto;
  }
  .header h1 {
    letter-spacing: 0.05em;
    margin: 15px auto;
  }
  .header h2 {
    letter-spacing: 0.05em;
    margin: 15px auto;
  }
  .header hr {
    margin: 15px auto;
  }
  nav {
    margin: 10px auto;
  }
  p {
    font-size: clamp(1.5rem, 2vw, 4rem);
  }
  .footer a img {
    width: 80%;
  }
}
@media (max-width: 991px) {
  body nav #navbarContent .navbar-nav {
    flex-direction: column;
    flex-flow: column;
    align-items: center;
    justify-items: center;
    line-height: 0;
    margin: 10px auto;
  }
  body #programCarousel {
    max-width: 90vw;
    max-height: 90%;
    margin: 10px;
  }
  body #programCarousel .carousel-inner .carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  body #scottyCarousel {
    max-width: 90vw;
    max-height: 80%;
    margin: 10px;
  }
  body #scottyCarousel .carousel-inner .carousel-item img {
    width: 100%;
    height: auto;
    max-height: 80%;
    object-fit: cover;
  }
}
@media (max-width: 480px) {
  body {
    max-width: 480px;
    min-width: 300px;
    margin: 2vh 4vw;
    height: 100%;
  }
  body p {
    font-size: calc(0.75em + 1vmin);
    margin: 20px 15px;
  }
  body h2 {
    font-size: calc(1em + 1vmin);
    margin: 20px 15px;
  }
  hr {
    margin: 20px auto;
  }
  .header .headerImage {
    margin: 50px auto;
    width: 100%;
  }
  .header .headerImage img {
    width: 100%;
    height: auto;
  }
  .header h1 {
    font-size: clamp(2.5rem, 2vw, 5rem);
    letter-spacing: 0.15em;
    line-height: 1.5;
    margin: 15px auto;
  }
  .header h2 {
    font-size: clamp(2rem, 2vw, 3.5rem);
    letter-spacing: 0.15em;
    line-height: 1.5;
    margin-top: 25px;
    margin-bottom: 40px;
  }
  .header hr {
    margin: 15px auto;
  }
  nav {
    margin: 20px auto;
  }
  .footer figure a .footerLogo {
    transition: none;
  }
  .footer figure a .footerLogo:hover {
    transform: none;
  }
}
@media (max-width: 300px) {
  body {
    max-width: 300px;
    min-width: 2500px;
    width: 100%;
    margin: 2vh 2vw;
    height: 100%;
  }
  body p {
    font-size: calc(0.75em + 1vmin);
    margin: 15px;
  }
  body h2 {
    font-size: calc(1em + 1vmin);
    margin: 20px 15px;
  }
}
/*404 Page Styling*/
.grid404 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  gap: 5px;
  margin: 20px auto;
  padding: 0px 10px;
  width: 100%;
  overflow-wrap: break-word;
  grid-template-areas: "header" "title404" "hr1" "scotty404" "caption404" "hr2" "footer";
}

.header {
  grid-area: header;
}

.title404 {
  grid-area: title404;
  justify-content: center;
  margin: 20px auto;
}
.title404 h2 {
  color: #e60127;
  font-weight: bold;
  font-size: clamp(2.5rem, 2vw, 6rem);
  height: 100%;
  text-align: center;
  margin: 0px;
}

.hr1 {
  grid-area: hr1;
}

.scotty404 {
  grid-area: scotty404;
  text-align: center;
  width: 50%;
  margin: 20px auto;
  max-width: 60vw;
}
.scotty404 img {
  width: 100%;
  height: auto;
  transition: 2s ease;
}
.scotty404 img:hover {
  transform: scale(1.2);
}

.caption404 {
  grid-area: caption404;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px;
  letter-spacing: 0.1em;
}
.caption404 p {
  font-size: clamp(1.5rem, 2vw, 4rem);
  font-family: "Verdana", "Geneva", sans-serif;
  max-width: 90vw;
  color: white;
  margin: 30px 40px;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
  max-width: 80vw;
}

.hr2 {
  grid-area: hr2;
}

.footer {
  grid-area: footer;
}

@media (max-width: 1024px) {
  .title404 {
    font-size: calc(1.5em + 1vmin);
  }
  .caption404 p {
    font-size: calc(1em + 1vmin);
  }
  .title404 {
    margin: 10px auto;
  }
}
@media (max-width: 480px) {
  body {
    box-sizing: border-box;
  }
  .title404 {
    margin: 10px auto 20px;
  }
  .scotty404 img:hover {
    transform: none;
  }
}
/*Styling of the About webpage*/
.aboutGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  gap: 5px;
  margin: 20px auto;
  padding: 0px 10px;
  width: 100%;
  overflow-wrap: break-word;
  grid-template-areas: "header" "aboutTitle" "hr1" "aboutBanner" "hr2" "aboutTexto" "hr3" "aboutFoto2" "hr4" "footer";
}

.header {
  grid-area: header;
}

.aboutTitle {
  grid-area: aboutTitle;
  font-family: Trebuchet MS, sans-serif;
  font-size: clamp(2.5rem, 2vw, 5rem);
  color: #ffc107;
  text-align: center;
  height: auto;
  font-weight: bold;
  margin: 30px auto;
  margin: 30px auto 10px;
}
.aboutTitle:hover {
  transition: color 2s ease;
  color: #896805;
}

.hr1 {
  grid-area: hr1;
}

.aboutBanner, .aboutFoto2 {
  grid-area: aboutBanner;
  text-align: center;
  margin: auto;
  width: 90%;
}
.aboutBanner img, .aboutFoto2 img {
  transition: 2s linear;
}
.aboutBanner img:hover, .aboutFoto2 img:hover {
  transform: scale(1.15);
}

.hr2 {
  grid-area: hr2;
}

.aboutTexto {
  grid-area: aboutTexto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.5rem, 2vw, 4rem);
  font-family: "Verdana", "Geneva", sans-serif;
  max-width: 90vw;
  color: white;
  margin: 30px 40px;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
  max-width: 100%;
  margin: 0px auto;
}
.aboutTexto hr {
  margin: 40px auto;
  width: 80%;
  height: 2px;
  border: none;
}
.aboutTexto h2 {
  font-size: clamp(1.5rem, 2vw, 4rem);
  font-family: "Verdana", "Geneva", sans-serif;
  max-width: 90vw;
  color: white;
  margin: 30px 40px;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
  margin: 10px auto;
}
.aboutTexto h2 span {
  font-size: calc(1.1em + 1vmin);
}

.hr3 {
  grid-area: hr3;
}

.aboutFoto2 {
  grid-area: aboutFoto2;
}

.hr4 {
  grid-area: hr4;
}

.footer {
  grid-area: footer;
}

@media (max-width: 1024px) {
  .aboutBanner, .aboutFoto2 {
    display: flex;
    width: auto;
    height: auto;
    max-width: 90vw;
    align-self: center;
  }
  .aboutTexto {
    align-items: center;
    width: 100%;
    max-height: none;
    flex-grow: 1;
  }
  .aboutTexto h2 span {
    font-size: calc(1em + 1vmin);
  }
  .aboutTitle {
    font-size: calc(2em + 1vmin);
    margin: 0px auto 30px;
  }
}
@media (max-width: 480px) {
  body {
    box-sizing: border-box;
  }
  .aboutBanner img:hover, .aboutFoto2 img:hover {
    transform: none;
  }
}
/*Styling of the Program webpage*/
.programGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  gap: 5px;
  margin: 20px auto;
  padding: 0px 10px;
  width: 100%;
  overflow-wrap: break-word;
  grid-template-areas: "header" "programCarousel" "hr2" "programText" "hr3" "tableTitle" "table" "hr4" "footer";
}

.header {
  grid-area: header;
}

.hr1 {
  grid-area: hr1;
}

.programCarousel {
  grid-area: programCarousel;
}
.programCarousel .carousel {
  box-sizing: border-box;
  max-width: 50%;
}
.programCarousel .carousel .carousel-inner .carousel-item {
  margin: auto;
}
.programCarousel .carousel .carousel-inner .carousel-item img {
  height: auto;
  margin: auto;
}

#programCarousel {
  margin: 20px 0px;
}

.hr2 {
  grid-area: hr2;
}

.programText {
  grid-area: programText;
  display: flex;
  flex-direction: column;
}
.programText hr {
  margin: 15px auto;
  width: 80%;
  height: 2px;
  border: none;
}
.programText h2 {
  font-size: clamp(1.5rem, 2vw, 4rem);
  font-family: "Verdana", "Geneva", sans-serif;
  max-width: 90vw;
  color: white;
  margin: 30px 40px;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
}
.programText h2 .programTitle {
  font-size: clamp(2rem, 2vw, 4rem);
  font-style: italic;
}

.hr3 {
  grid-area: hr3;
}

.tableTitle {
  grid-area: tableTitle;
  font-family: Trebuchet MS, sans-serif;
  font-size: clamp(2.5rem, 2vw, 5rem);
  color: #ffc107;
  text-align: center;
  height: auto;
  font-weight: bold;
  margin: 30px auto;
  margin: 0px auto 25px auto;
  text-decoration: underline;
}
.tableTitle:hover {
  transition: color 2s ease;
  color: #896805;
}

.table {
  grid-area: table;
  max-width: 85%;
  margin: 20px auto;
}
.table tbody tr:nth-child(odd) {
  font-size: clamp(1.5rem, 2vh, 3rem);
}
.table tbody tr:nth-child(odd) th {
  background-color: #5c0211;
  color: white;
  text-align: center;
  vertical-align: middle;
}
.table tbody tr:nth-child(odd) td {
  background-color: #5c0211;
  color: white;
  text-align: center;
  vertical-align: middle;
}
.table tbody tr:nth-child(even) {
  font-size: clamp(1.5rem, 2vh, 3rem);
}
.table tbody tr:nth-child(even) th {
  background-color: #896805;
  color: white;
  text-align: center;
  vertical-align: middle;
}
.table tbody tr:nth-child(even) td {
  background-color: #896805;
  color: white;
  text-align: center;
  vertical-align: middle;
}

.hr4 {
  grid-area: hr4;
}

.footer {
  grid-area: footer;
}

@media (max-width: 1024px) {
  .table {
    max-width: 95%;
    margin: 10px auto;
  }
  .table tbody tr:nth-child(odd) {
    font-size: calc(0.75em + 1vmin);
  }
  .table tbody tr:nth-child(even) {
    font-size: calc(0.75em + 1vmin);
  }
  .programText h2 .programTitle {
    font-size: calc(1.1em + 1vmin);
    font-style: italic;
  }
}
@media (max-width: 480px) {
  .carousel {
    margin: 10px auto;
    max-width: 100%;
  }
  .carousel-inner .carousel-item img {
    max-width: 100%;
    height: auto;
  }
}
/*Styling of the Scotty Bio webpage*/
.scottyGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  gap: 5px;
  margin: 20px auto;
  padding: 0px 10px;
  width: 100%;
  overflow-wrap: break-word;
  grid-template-areas: "header" "scottyI1" "hr1" "scottyT1" "hr2" "scottyT2" "hr3" "scottyCarousel" "hr4" "scottyT3" "hr5" "footer";
}

.header {
  grid-area: header;
}

.scottyI1 {
  grid-area: scottyI1;
  text-align: center;
  margin: 20px auto;
}
.scottyI1 img {
  max-width: 100%;
  height: auto;
  transition: 2s ease;
}
.scottyI1 img:hover {
  transform: scale(1.2);
}

.hr1 {
  grid-area: hr1;
}

.scottyT1, .scottyT3, .scottyT2 {
  grid-area: scottyT1;
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
}
.scottyT1 p, .scottyT3 p, .scottyT2 p {
  font-style: italic;
}
.scottyT1 .scottyH2, .scottyT3 .scottyH2, .scottyT2 .scottyH2 {
  font-size: clamp(1.5rem, 2vw, 4rem);
  font-family: "Verdana", "Geneva", sans-serif;
  max-width: 90vw;
  color: white;
  margin: 30px 40px;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
}
.scottyT1 .scottyH2 b, .scottyT3 .scottyH2 b, .scottyT2 .scottyH2 b {
  font-size: clamp(2.5rem, 2vw, 4rem);
}

.hr2 {
  grid-area: hr2;
}

.scottyT2 {
  grid-area: scottyT2;
}

.hr3 {
  grid-area: hr3;
}

.scottyCarousel {
  grid-area: scottyCarousel;
}
.scottyCarousel .carousel {
  box-sizing: border-box;
  max-width: 50%;
}
.scottyCarousel .carousel .carousel-inner .carousel-item img {
  height: auto;
  margin: auto;
}

#scottyCarousel {
  margin: 10px;
}

.hr4 {
  grid-area: hr4;
}

.scottyT3 {
  grid-area: scottyT3;
}
.scottyT3 .scottyLink {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}
.scottyT3 .scottyLink a {
  color: #0d6efd;
  text-decoration: none;
  transition: all 0.5s ease;
}
.scottyT3 .scottyLink a:hover {
  transform: scale(1.2);
  color: #e60127;
}

.hr5 {
  grid-area: hr5;
}

.footer {
  grid-area: footer;
}

@media (max-width: 1024px) {
  .scottyT1 p, .scottyT2 p, .scottyT3 p {
    font-size: calc(1em + 1vmin);
  }
  .scottyT1 .scottyH2 b, .scottyT2 .scottyH2 b, .scottyT3 .scottyH2 b {
    font-size: calc(1.1em + 1vmin);
    margin: 20px 15px;
  }
}
@media (max-width: 480px) {
  body {
    box-sizing: border-box;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .scottyI1 img:hover {
    transform: none;
  }
  main .scottyT1, main .scottyT2, main .scottyT3 {
    color: white;
  }
}
/*Styling of the Videos webpage*/
.videosGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  gap: 5px;
  margin: 20px auto;
  padding: 0px 10px;
  width: 100%;
  overflow-wrap: break-word;
  grid-template-areas: "header" "videoT1" "video1" "hr1" "videoT2" "video2" "hr2" "videoT3" "video3" "hr3" "footer";
}

.header {
  grid-area: header;
}

.videoT1, .videoT3, .videoT2 {
  grid-area: videoT1;
}
.videoT1 h2, .videoT3 h2, .videoT2 h2 {
  text-align: center;
}
.videoT1 h2 a, .videoT3 h2 a, .videoT2 h2 a {
  font-family: Trebuchet MS, sans-serif;
  font-size: clamp(2rem, 2vw, 4rem);
  color: #ffc107;
  font-weight: bold;
  text-decoration: underline;
  margin: 20px auto;
  display: inline-block;
  transition: all 1s ease;
}
.videoT1 h2 a:hover, .videoT3 h2 a:hover, .videoT2 h2 a:hover {
  color: #e60127;
  transform: scale(1.2);
}

.video1, .video3, .video2 {
  grid-area: video1;
  display: flex;
  min-height: 100%;
  flex-grow: 1;
  align-items: center;
  margin: 20px;
}
.video1 iframe, .video3 iframe, .video2 iframe {
  aspect-ratio: 4/3;
  min-height: 300px;
  margin: 10px auto;
  width: auto;
  height: auto;
}

.hr1 {
  grid-area: hr1;
}

.videoT2 {
  grid-area: videoT2;
}

.video2 {
  grid-area: video2;
}

.hr2 {
  grid-area: hr2;
}

.videoT3 {
  grid-area: videoT3;
}
.videoT3 p a span {
  font-style: italic;
}

.video3 {
  grid-area: video3;
}

.hr3 {
  grid-area: hr3;
}

.footer {
  grid-area: footer;
}

@media (max-width: 1024px) {
  .video1, .video2, .video3 {
    display: flex;
    flex-shrink: 1;
  }
  .video1 iframe, .video2 iframe, .video3 iframe {
    min-height: 200px;
    margin: 10px auto;
  }
  .videoT1, .videoT2, .videoT3 {
    margin: 15px;
  }
}
@media (max-width: 480px) {
  body .videosGrid {
    max-width: 100%;
  }
  body .video1, body .video2, body .video3 {
    margin: 10px 5px;
  }
  body .video1 iframe, body .video2 iframe, body .video3 iframe {
    min-height: 100px;
    width: auto;
    max-width: 400px;
    margin: 10px auto;
  }
  body .videoT1 h2 a, body .videoT2 h2 a, body .videoT3 h2 a {
    font-size: calc(0.75em + 1vmin);
    margin: 10px auto;
    transition: color 2s ease;
  }
  body .videoT1 h2 a:hover, body .videoT2 h2 a:hover, body .videoT3 h2 a:hover {
    transform: none;
  }
}
@media (max-width: 350px) {
  body .video1 iframe, body .video2 iframe, body .video3 iframe {
    width: auto;
    min-width: 250px;
    max-width: 100%;
    margin: 10px auto;
  }
}
/*Styling of the Contact subpage*/
.contactGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  gap: 5px;
  margin: 20px auto;
  padding: 0px 10px;
  width: 100%;
  overflow-wrap: break-word;
  grid-template-areas: "header" "contactText" "formContainer" "hr" "footer";
}

.header {
  grid-area: header;
  margin: 10px auto;
}

.contactText {
  grid-area: contactText;
  padding: 5px;
  margin: 10px;
}
.contactText h2 {
  font-size: clamp(1.5rem, 2vw, 4rem);
  font-family: "Verdana", "Geneva", sans-serif;
  max-width: 90vw;
  color: white;
  margin: 30px 40px;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
  margin: 0px auto;
  line-height: 5rem;
}
.contactText h3 {
  font-family: Trebuchet MS, sans-serif;
  font-size: clamp(2.5rem, 2vw, 5rem);
  color: #ffc107;
  text-align: center;
  height: auto;
  font-weight: bold;
  margin: 30px auto;
  margin: 20px auto 40px;
}
.contactText h3:hover {
  transition: color 2s ease;
  color: #896805;
}

.formContainer {
  grid-area: formContainer;
}
.formContainer .contactForm form {
  width: 80%;
  margin: 10px auto;
  border: 4px solid transparent;
  border-image: linear-gradient(to left, #ffc107, #dc3545);
  border-image-slice: 1;
  padding: 10px 20px;
  background-color: #000000;
}
.formContainer .contactForm form label {
  color: white;
}
.formContainer .contactForm form div {
  margin: 1.5rem auto;
}
.formContainer .contactForm form div input, .formContainer .contactForm form div textarea {
  background-color: #000000;
  color: white;
}
.formContainer .contactForm form button {
  margin: 15px auto;
}
.formContainer .contactDisclaimer {
  width: 60%;
  margin: 5px auto;
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease;
}
.formContainer .contactDisclaimer span {
  color: white;
  width: 80%;
}
.formContainer .contactDisclaimer span a {
  text-decoration: none;
  display: inline-block;
  transition: all 0.5s ease;
}
.formContainer .contactDisclaimer span a:hover {
  color: #dc3545;
}
.formContainer:focus-within .contactDisclaimer {
  opacity: 1;
}

.hr {
  grid-area: hr;
}

.footer {
  grid-area: footer;
}

@media (max-width: 1024px) {
  .contactText h2 {
    line-height: 4rem;
  }
  .contactText h3 {
    margin: 15px auto 30px;
  }
  .formContainer .contactForm {
    width: 100%;
    padding: 10px;
    margin: 10px auto;
  }
  .formContainer .contactForm form {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .contactText h2 {
    line-height: 3rem;
  }
  .contactText h3 {
    margin: 10px auto 20px;
  }
  .formContainer .contactForm {
    width: 100%;
    padding: 10px;
  }
  .formContainer .contactForm form {
    width: 100%;
  }
  .formContainer .contactDisclaimer span {
    width: 100%;
  }
  .formContainer .contactDisclaimer span a {
    margin: 0px auto;
    word-break: break-all;
  }
}
/*Styling of the Main webpage*/
.indexGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  gap: 5px;
  margin: 20px auto;
  padding: 0px 10px;
  width: 100%;
  overflow-wrap: break-word;
  grid-template-areas: "header" "mainGrid" "hr1" "indexTexto2" "hr2" "footer";
}

.header {
  grid-area: header;
}

.mainGrid {
  grid-area: mainGrid;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 10px;
  margin: 20px;
  grid-template-areas: "indexImagen titleContainer" "indexImagen indexTexto1";
}
.mainGrid .indexImagen {
  grid-area: indexImagen;
  position: sticky;
  align-self: start;
  top: 20px;
}
.mainGrid .indexImagen img {
  max-width: 100%;
  height: auto;
}
.mainGrid .titleContainer {
  grid-area: titleContainer;
  justify-content: center;
  font-weight: bold;
  color: #dc3545;
  font-weight: bold;
  font-size: clamp(2rem, 2vw, 6rem);
  height: 100%;
  text-align: center;
}
.mainGrid .indexTexto1 {
  grid-area: indexTexto1;
}
.mainGrid .indexTexto1 h3 {
  font-size: clamp(1.5rem, 2vw, 4rem);
  font-family: "Verdana", "Geneva", sans-serif;
  max-width: 90vw;
  color: white;
  margin: 30px 40px;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
}

.hr1 {
  grid-area: hr1;
}

.indexTexto2 {
  grid-area: indexTexto2;
  display: flex;
  flex-direction: column;
  height: auto;
  overflow: visible;
}
.indexTexto2 p a {
  text-decoration: none;
  display: inline-block;
  transition: all 0.5s ease;
}
.indexTexto2 p a:hover {
  color: #dc3545;
}
.indexTexto2 h2 {
  display: inline;
  font-size: clamp(1.5rem, 2vw, 4rem);
  font-family: "Verdana", "Geneva", sans-serif;
  max-width: 90vw;
  color: white;
  margin: 30px 40px;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
}

.hr2 {
  grid-area: hr2;
}

.footer {
  grid-area: footer;
}

/*Media Queries*/
@media (max-width: 1024px) {
  .indexGrid {
    margin: 5px;
  }
  .indexGrid p {
    font-size: calc(0.75em + 1vmin);
  }
  .mainGrid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-auto-columns: auto;
    gap: 10px;
    margin: 20px 0px;
    grid-template-areas: "indexImagen" "titleContainer" "indexTexto1";
  }
  .mainGrid .indexImagen {
    grid-area: indexImagen;
    position: static;
    max-width: 90%;
    text-align: center;
  }
  .mainGrid .indexImagen img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .mainGrid .titleContainer {
    grid-area: titleContainer;
    margin: 10px auto;
    justify-content: center;
  }
  .mainGrid .titleContainer p {
    font-weight: bold;
    color: #dc3545;
    font-weight: bold;
    font-size: calc(1em + 1vmin);
    text-align: center;
  }
  .mainGrid .indexTexto1 {
    grid-area: indexTexto1;
    overflow: visible;
  }
  .mainGrid .indexTexto1 .textContainer p {
    line-height: 1.5;
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  body {
    max-width: 480px;
    min-width: 300px;
  }
  .indexImagen {
    max-width: 100%;
    margin: 15px 20px;
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
