/*Partials y Variables*/
$fondo: #030104;
$rojo: #dc3545;
$naranja: #ffc107;

@import "global";
@import "page404";
@import "about";
@import "program";
@import "scotty";
@import "videos";

/*Styling of the Main webpage*/

.indexGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    gap: 5px;
    margin: 20px;
    overflow-wrap: break-word;
    grid-template-areas:
        "header"
        "mainGrid"
        "hr1"
        "indexTexto2"
        "hr2"
        "footer";
}
.header { grid-area: header; }
.mainGrid { grid-area: mainGrid;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 10px;
    margin: 20px;
    grid-template-areas:
        "indexImagen titleContainer"
        "indexImagen indexTexto1";
    .indexImagen { grid-area: indexImagen;
        position: sticky;
        align-self: start;
        top: 20px;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .titleContainer { grid-area: titleContainer;
            justify-content: center;
            font-weight: bold;
            color: $rojo;
            font-weight: bold;
            font-size: clamp(2rem, 2vw, 6rem);            
            height: 100%;
            text-align: center;
        }
    .indexTexto1 { grid-area: indexTexto1;
        }
        h3 {
            @extend p
        }
}
.hr1 { grid-area: hr1; }
.indexTexto2 { grid-area: indexTexto2; 
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: visible;
    p {
        a {
            text-decoration: none;
            display: inline-block;
            transition: all 0.5s ease;
            &:hover {
                color: $rojo;
            }
        }
    }
}
.hr2 { grid-area: hr2; }
.footer { grid-area: footer; }

/*Media Queries*/

@media (max-width: 1024px) {
    .indexGrid {
        margin: 5px;
        p {
            font-size: calc(0.75em + 1vmin);
        }
    }
    .mainGrid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-auto-columns: auto;
        gap: 10px;
        margin: 20px 0px;
        grid-template-areas:
            "indexImagen"
            "titleContainer"
            "indexTexto1";
        .indexImagen {
            grid-area: indexImagen;
            position: static;
            max-width: 90%;
            text-align: center;
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
        .titleContainer {
            grid-area: titleContainer;
            margin: 10px auto;
            justify-content: center;
            p {
                font-weight: bold;
                color: $rojo;
                font-weight: bold;
                font-size: calc(1em + 1vmin);
                text-align: center;
                }
            }
        .indexTexto1 {
            grid-area: indexTexto1; 
            overflow: visible;
            .textContainer {
                p {
                    line-height: 1.5;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    body {
        max-width: 480px;
        min-width: 300px;
    }
    .indexImagen {
        max-width: 100%;
        margin: 15px 20px;
        padding: 0;
    }
}