/*Partials y Variables*/
$fondo: #030104;
$rojo: #dc3545;
$naranja: #ffc107;

@import "global";
@import "page404";
@import "about";
@import "program";
@import "scotty";
@import "videos";

/*Styling of the Main webpage*/

.indexGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    gap: 5px;
    margin: 20px;
    overflow-wrap: break-word;
    grid-template-areas:
        "header"
        "mainGrid"
        "hr2"
        "indexTexto2"
        "hr3"
        "footer";
}
.header { grid-area: header; }
.hr1 { grid-area: hr1; }
.mainGrid { grid-area: mainGrid;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-auto-rows: auto;
    gap: 10px;
    margin: 20px;
    padding: 50px;
    grid-template-areas:
        "indexImagen titleContainer"
        "indexImagen indexTexto1";
    .indexImagen { grid-area: indexImagen;
        position: sticky;
        align-self: start;
        top: 20px;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .titleContainer { grid-area: titleContainer;
        justify-content: center;
        p {
            font-weight: bold;
            color: $rojo;
            font-weight: bold;
            font-size: clamp(1.2rem, 2vw, 6rem);            
            height: 100%;
            text-align: center;
            }
        }
    .indexTexto1 { grid-area: indexTexto1; 
        overflow: visible;
        p {
            font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
            color:white;
            width: 100%;    
            padding: 5px;
            line-height: 2;
            font-size: clamp(0.4rem, 2vw, 4rem);
            margin-bottom: 10px;
        }
    }
}
.hr2 { grid-area: hr2; }
.indexTexto2 { grid-area: indexTexto2; 
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: visible;
    p {
        color: white;
        font-size: clamp(1rem, 2vw, 4rem);
        margin: 40px 40px;
        a {
            text-decoration: none;
            display: inline-block;
            transition: all 0.5s ease;
            &:hover {
                color: $rojo;
            }
        }
    }
}
.hr3 { grid-area: hr3; }
.footer { grid-area: footer; }

/*Media Queries*/

@media (max-width: 1024px) {
    body {
        width: 100%;
        align-items: center;
    }
    .indexGrid {
        margin: 0 10px;
    }
    .mainGrid { grid-area: mainGrid;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-auto-columns: auto;
        gap: 10px;
        margin: 20px;
        padding: 30px;
        grid-template-areas:
            "indexImagen"
            "titleContainer"
            "indexTexto1";
        .indexImagen { 
            grid-area: indexImagen;
            position: static;
            img {
                max-width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
        .titleContainer { 
            grid-area: titleContainer;
            justify-content: center;
            p {
                font-weight: bold;
                color: $rojo;
                font-weight: bold;
                font-size: calc(0.75em + 1vmin);
                text-align: center;
                }
            }
        .indexTexto1 { 
            grid-area: indexTexto1; 
            overflow: visible;
            .textContainer {
                p {
                    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
                    color:white;
                    width: 100%;    
                    padding: 5px;
                    line-height: 1.5;
                    font-size: calc(0.75em + 1vmin);
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    body {
        box-sizing: border-box;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        
    }
}